<div id="skill-modal-container"></div>

<!-- Generated description functions from .script files -->
{% load static %}
<script src="{% static 'js/description-runtime.js' %}?v=9"></script>
<script src="{% static 'js/generated/game_data.js' %}?v=9"></script>
<script src="{% static 'js/generated/description_functions.js' %}?v=9"></script>
<script src="{% static 'js/hero-state.js' %}?v=9"></script>

<!-- ES6 Module initialization -->
<script type="module" src="{% static 'js/modules/init.js' %}?v=2"></script>
